.inputQuantity{
  width: 45px;
}

button{
  border-style: none;
  border: solid 1px rgb(66, 3, 3);
  border-radius: 5px;
  background-color: rgb(204, 77, 77);
  margin-left: 10px;
  margin-right: 10px;
}
