.comprar{
  text-decoration: none;
  border-style: none;
  border: solid 2px brown;
  background-color: rgb(250, 201, 40);
  color: rgb(51, 3, 3);
  border-radius: 16px;
  padding: 8px;
}

a{
  text-decoration: none;
  color: brown;
}
